p,
h2 {
	margin: 0;
	margin-top: 6px;
}

button {
	background-color: #acd9b2;
	color: #0c5a17;
	border: 0;
	border-radius: 3px;
	height: 24px;
	cursor: pointer;
	margin-top: 6px;
	margin-left: 5px;
	transition: all ease 0.3s;
}

button:hover {
	background-color: #0c5a17;
	color: #acd9b2;
}

button.details {
	background-color: #fac8d4;
	color: #550215;
	border: 0;
	border-radius: 3px;
	height: 24px;
	cursor: pointer;
	margin-top: 6px;
	margin-left: 5px;
	transition: all ease 0.3s;
}

button.details:hover {
	background-color: #550215;
	color: #fac8d4;
}

.one-product {
	text-align: center;
	margin-bottom: 10px;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
	.one-product {
		margin: 0;
	}
}

// web
@media screen and (min-width: 64em) {
	.one-product {
		margin: 0;
	}
}
