img.thumb {
	max-width: 80px;
	height: auto;
}

p,
h2 {
	margin: 0;
}

h2 {
	font-weight: bold;
}

p {
	margin-top: 8px;
}

button {
	background-color: #0077ff;
	color: white;
	border: 0;
	border-radius: 3px;
	margin: 5px 0px;
	height: 25px;
	cursor: pointer;
}
