p,
h2 {
	margin: 0;
	margin-top: 6px;
}

.one-product {
	text-align: center;
	margin-bottom: 10px;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
	.one-product {
		margin: 0;
	}
}

// web
@media screen and (min-width: 64em) {
	.one-product {
		margin: 0;
	}
}
